/****************************************************************************


CARDLL.RC

produced by Borland Resource Workshop


*****************************************************************************/

