/****************************************************************************


THUNK.RC

produced by Borland Resource Workshop


*****************************************************************************/

